<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Visual World</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'css/styleGlasses.css' %}" />
  </head>
  <body class="body">
    <section class="section-title">
      <h2>SeenGlasses</h2>
    </section>
    <section id="product-gallery" class="gallery-section">
      <div class="gallery-container">
        <div class="gallery-item" id="product-1">
          <img src="{% static 'images/sunglasses-3.jpg' %}" alt="Glasses 1" />
          <p class="description">Stylish seenGlasses</p>
          <p class="price">$19.99</p>
          <form>
            <input type="hidden" name="product_id" value="1" />
            <input
              type="hidden"
              name="description"
              value="Stylish seenGlasses"
            />
            <button type="submit" class="buy-button">Buy</button>
          </form>
        </div>
        <!-- Repeat for other products, changing the product_id and description accordingly -->

        <div class="gallery-item" id="product-1">
          <img src="{% static 'images/sunglasses-3.jpg' %}" alt="Glasses 1" />
          <p class="description">Stylish seenGlasses</p>
          <p class="price">$19.99</p>
          <form>
            <input type="hidden" name="product_id" value="1" />
            <input
              type="hidden"
              name="description"
              value="Stylish seenGlasses"
            />
            <button type="submit" class="buy-button">Buy</button>
          </form>
        </div>

        <div class="gallery-item" id="product-1">
          <img src="{% static 'images/sunglasses-3.jpg' %}" alt="Glasses 1" />
          <p class="description">Stylish seenGlasses</p>
          <p class="price">$19.99</p>
          <form>
            <input type="hidden" name="product_id" value="1" />
            <input
              type="hidden"
              name="description"
              value="Stylish seenGlasses"
            />
            <button type="submit" class="buy-button">Buy</button>
          </form>
        </div>

        <div class="gallery-item" id="product-1">
          <img
            src="{% static 'images/colored-transparent-sunglasses-still-life.jpg' %}"
            alt="Glasses 1"
          />
          <p class="description">Stylish seenGlasses</p>
          <p class="price">$19.99</p>
          <form>
            <input type="hidden" name="product_id" value="1" />
            <input
              type="hidden"
              name="description"
              value="Stylish seenGlasses"
            />
            <button type="submit" class="buy-button">Buy</button>
          </form>
        </div>

        <div class="gallery-item" id="product-1">
          <img
            src="{% static 'images/colored-transparent-sunglasses-still-life.jpg' %}"
            alt="Glasses 1"
          />
          <p class="description">Stylish seenGlasses</p>
          <p class="price">$19.99</p>
          <form>
            <input type="hidden" name="product_id" value="1" />
            <input
              type="hidden"
              name="description"
              value="Stylish seenGlasses"
            />
            <button type="submit" class="buy-button">Buy</button>
          </form>
        </div>

        <div class="gallery-item" id="product-1">
          <img
            src="{% static 'images/colored-transparent-sunglasses-still-life.jpg' %}"
            alt="Glasses 1"
          />
          <p class="description">Stylish seenGlasses</p>
          <p class="price">$19.99</p>
          <form>
            <input type="hidden" name="product_id" value="1" />
            <input
              type="hidden"
              name="description"
              value="Stylish seenGlasses"
            />
            <button type="submit" class="buy-button">Buy</button>
          </form>
        </div>

        <div class="gallery-item" id="product-1">
          <img src="{% static   'images/sunglasses-1.jpg' %}" alt="Glasses 1" />
          <p class="description">Stylish seenGlasses</p>
          <p class="price">$19.99</p>
          <form>
            <input type="hidden" name="product_id" value="1" />
            <input
              type="hidden"
              name="description"
              value="Stylish seenGlasses"
            />
            <button type="submit" class="buy-button">Buy</button>
          </form>
        </div>

        <div class="gallery-item" id="product-1">
          <img src="{% static   'images/sunglasses-1.jpg' %}" alt="Glasses 1" />
          <p class="description">Stylish seenGlasses</p>
          <p class="price">$19.99</p>
          <form>
            <input type="hidden" name="product_id" value="1" />
            <input
              type="hidden"
              name="description"
              value="Stylish seenGlasses"
            />
            <button type="submit" class="buy-button">Buy</button>
          </form>
        </div>

        <div class="gallery-item" id="product-1">
          <img src="{% static   'images/sunglasses-1.jpg' %}" alt="Glasses 1" />
          <p class="description">Stylish seenGlasses</p>
          <p class="price">$19.99</p>
          <form>
            <input type="hidden" name="product_id" value="1" />
            <input
              type="hidden"
              name="description"
              value="Stylish seenGlasses"
            />
            <button type="submit" class="buy-button">Buy</button>
          </form>
        </div>

        <div class="gallery-item" id="product-10">
          <img src="{% static   'images/sunglasses-1.jpg' %}" alt="Glasses 1" />
          <p class="description">Stylish seenGlasses</p>
          <p class="price">$19.99</p>
          <form>
            <input type="hidden" name="product_id" value="10" />
            <input
              type="hidden"
              name="description"
              value="Stylish seenGlasses"
            />
            <button type="submit" class="buy-button">Buy</button>
          </form>
        </div>
      </div>
    </section>

    <section class="section-title">
      <h2 id="seenglasses_01">SeenGlasses</h2>
    </section>
    <section id="product-gallery" class="gallery-section">
      <div class="gallery-container">
        <div class="gallery-item" id="product-1">
          <img
            src="{% static 'images/seen-glasses-2.jpg' %}
          "
            alt="Glasses 1"
          />
          <p class="description">Stylish seenGlasses</p>
          <p class="price">$19.99</p>
          <form>
            <input type="hidden" name="product_id" value="1" />
            <input
              type="hidden"
              name="description"
              value="Stylish seenGlasses"
            />
            <button type="submit" class="buy-button">Buy</button>
          </form>
        </div>
        <!-- Repeat for other products, changing the product_id and description accordingly -->

        <div class="gallery-item" id="product-1">
          <img
            src="{% static 'images/seen-glasses-2.jpg' %}
"
            alt="Glasses 1"
          />
          <p class="description">Stylish seenGlasses</p>
          <p class="price">$19.99</p>
          <form>
            <input type="hidden" name="product_id" value="1" />
            <input
              type="hidden"
              name="description"
              value="Stylish seenGlasses"
            />
            <button type="submit" class="buy-button">Buy</button>
          </form>
        </div>

        <div class="gallery-item" id="product-1">
          <img
            src="{% static 'images/seen-glasses-2.jpg' %}
"
            alt="Glasses 1"
          />
          <p class="description">Stylish seenGlasses</p>
          <p class="price">$19.99</p>
          <form>
            <input type="hidden" name="product_id" value="1" />
            <input
              type="hidden"
              name="description"
              value="Stylish seenGlasses"
            />
            <button type="submit" class="buy-button">Buy</button>
          </form>
        </div>

        <div class="gallery-item" id="product-1">
          <img
            src="{% static 'images/seen-glasses-2.jpg' %}
"
            alt="Glasses 1"
          />
          <p class="description">Stylish seenGlasses</p>
          <p class="price">$19.99</p>
          <form>
            <input type="hidden" name="product_id" value="1" />
            <input
              type="hidden"
              name="description"
              value="Stylish seenGlasses"
            />
            <button type="submit" class="buy-button">Buy</button>
          </form>
        </div>

        <div class="gallery-item" id="product-1">
          <img
            src="{% static 'images/seen-glasses-2.jpg' %}
"
            alt="Glasses 1"
          />
          <p class="description">Stylish seenGlasses</p>
          <p class="price">$19.99</p>
          <form>
            <input type="hidden" name="product_id" value="1" />
            <input
              type="hidden"
              name="description"
              value="Stylish seenGlasses"
            />
            <button type="submit" class="buy-button">Buy</button>
          </form>
        </div>

        <div class="gallery-item" id="product-1">
          <img
            src="{% static 'images/seen-glasses-2.jpg' %}
"
            alt="Glasses 1"
          />
          <p class="description">Stylish seenGlasses</p>
          <p class="price">$19.99</p>
          <form>
            <input type="hidden" name="product_id" value="1" />
            <input
              type="hidden"
              name="description"
              value="Stylish seenGlasses"
            />
            <button type="submit" class="buy-button">Buy</button>
          </form>
        </div>

        <div class="gallery-item" id="product-1">
          <img
            src="{% static 'images/seen-glasses-2.jpg' %}
"
            alt="Glasses 1"
          />
          <p class="description">Stylish seenGlasses</p>
          <p class="price">$19.99</p>
          <form>
            <input type="hidden" name="product_id" value="1" />
            <input
              type="hidden"
              name="description"
              value="Stylish seenGlasses"
            />
            <button type="submit" class="buy-button">Buy</button>
          </form>
        </div>

        <div class="gallery-item" id="product-1">
          <img
            src="{% static 'images/seen-glasses-2.jpg' %}
"
            alt="Glasses 1"
          />
          <p class="description">Stylish seenGlasses</p>
          <p class="price">$19.99</p>
          <form>
            <input type="hidden" name="product_id" value="1" />
            <input
              type="hidden"
              name="description"
              value="Stylish seenGlasses"
            />
            <button type="submit" class="buy-button">Buy</button>
          </form>
        </div>

        <div class="gallery-item" id="product-1">
          <img
            src="{% static 'images/seen-glasses-2.jpg' %}
"
            alt="Glasses 1"
          />
          <p class="description">Stylish seenGlasses</p>
          <p class="price">$19.99</p>
          <form>
            <input type="hidden" name="product_id" value="1" />
            <input
              type="hidden"
              name="description"
              value="Stylish seenGlasses"
            />
            <button type="submit" class="buy-button">Buy</button>
          </form>
        </div>

        <div class="gallery-item" id="product-10">
          <img
            src="{% static 'images/seen-glasses-2.jpg' %}
"
            alt="Glasses 1"
          />
          <p class="description">Stylish seenGlasses</p>
          <p class="price">$19.99</p>
          <form>
            <input type="hidden" name="product_id" value="10" />
            <input
              type="hidden"
              name="description"
              value="Stylish seenGlasses"
            />
            <button type="submit" class="buy-button">Buy</button>
          </form>
        </div>
      </div>
    </section>
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
